/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/*UTILITIES*/

.container{
  width: 90%;
  max-width: 1400px;
  min-height: 500px;
  background-color: black;
}

.bottom{
  font-size: 14px;
}

.menu-top{
  height: 80px;
  background-color: black;
}

.menu-bottom{
  height: 80px;
  background-color: #222222;
  font-size: 12px;
  color: white;
}

.bottom a{
  text-decoration: none;
  list-style: none;
  color: white;
  background-color: #4A4A4A;
  border: 1px solid #4A4A4A;
  border-radius: 5px;
  padding: 5px 5px;
}

.menu-top{
  position: relative;
}

.img{
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
}

.view{
  position: absolute;
  right: 40px;
  top: 0;
  margin-top: 20px;
}

.zoom{
  position: absolute;
  right: 5px;
  top: 0;
  margin-top: 20px;
}

/*MAIN*/

main{
  height: calc(100vh - 160px);
  overflow: auto;
}

main .box{
  display: flex;
  flex-wrap: wrap;
  min-width: 400px;
  width: calc(100% - 8);
  justify-content: center;
  align-items: center;
}

main .web1{
  position: relative;
  margin: 10px 5px;
  width: 250px;
  height: 150px;
  min-width: 100px;
}

main .name{
  position: absolute;
  bottom: 10px;
  left: 0;
  background-color: rgba(255,255,255,0.44);
  padding: 2px 5px;
  color: white;
}

/*MENU-BOTTOM*/

.menu-bottom a{
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 25px;
}

.menu-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-bottom nav ul li{
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin: 10px 10px;
}

.menu-bottom nav ul{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}

.menu-bottom .end a{
  font-size: 12px;
  color: red;
  background-color: grey;
  padding:30px 20px;
}

.menu-left{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.menu-left a{
  margin: 10px 10px;
}






